<li>
	{{burger_name}}

	<button class="change-devoured" id="button" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}PLEASE STOP!{{/if}}
	</button>

	<button class="delete-burger"  id="button" data-id="{{this.id}}">DELETE!</button>
</li>
